<div class="container-login100">

  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"> <img
          src="https://lh3.googleusercontent.com/NNZ0Z8NeSA07HoiNJOQLokMqMON5Uz3erPiMlIYgNyegb-Z1i0W9kQld-inmr2BCP02DQaPLe17Qb9-iRnwFwvRw63ULKNYLH-DK_umprrbgEnHYInhnB9qgyKkB84zecAOCqmHIhQg=w2400">
      </div>
      <div class="swiper-slide"> <img
          src="https://lh3.googleusercontent.com/jDt3DIQJ0_6UT1ang2h4waE6eU-113Fy10KiOurrcJeEsq4W1w6HkWPvB4kLsN6dwKNfT_wsmmwVKdyhUsWONUrf65yLW2igCukLbUF5OYhS96ON3z6e2sg_QRzx0fq9KqZK_xiHLvw=w2400">
      </div>
      <div class="swiper-slide"> <img
          src="https://lh3.googleusercontent.com/DoAl5ZyVrshU2w2Pf1KBnOkE-bYZTgrN2G1ChgmcZF0E2v9WS9qBx0QKLglu-9uByaGTmAPGvcz36WsHE_fQWy19TcxrVkXXTFxw8U3EVtIpzbZXK4BqJ_mIvwn7PgrSnlHvPnev20U=w2400">
      </div>
      <div class="swiper-slide"> <img
          src="https://lh3.googleusercontent.com/6ah-3FSoc7ZqlAwl9Xxxs9yGz-oLQ1ddji5HKbjpnhDmdUqZ5DW2zb3VD_AihHIHZDVh0UJabdGOFAAnhFVASMJO_JflYcJLRa-4Zx4smWyb9XImYPUmjC2aeGSbQLz9DIagewEPiTA=w2400">
      </div>
      <div class="swiper-slide"> <img
          src="https://lh3.googleusercontent.com/51PSMc0g-6xKQp_QIYnPk5dvKrQgEWHTTtIdHGrKmYSITD74w3F1iNNNp1qFZmk-3CXINUkbsZw-zaC1_H907d-ZO2_mbt5hIqpVKR5atJM5MML5l0XMTIsUv4w1iepPsGRfQhMDszI=w2400">
      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

  <!-- First Cards  Section -->
  <section id="facilities">
    <div class="container-cards-one">
      <div class="title">
        <h1>Why l’Université?</h1>
        <p>Three differentiating qualities power the l’Université experience.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <img
              src="https://lh3.googleusercontent.com/gPJjGZNpv1bx5iuLyjyxRbPLWZFEbMDMQ6NkNMCGR_2cZD_O13EJxTTjlphIoegp509gdeKlL5pW4lHrnjlBeT74IqtrDxz5uVdWMtuAcSOW-SflEdrcwXlAN26y94MGv_SBrP4apPE=w2400"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <!--purposely empty -->
              <p class="card-text">Our distinctive thought leadership shapes a ground-breaking and flexible curriculum
                to provide you with a balanced and dynamic skill set</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <img
              src="https://lh3.googleusercontent.com/CdrXKondfZkoY4Ei8GdpEllzJZyzdXsejYNb-ss7Rqsc2uCjA3ir6ioZ54bF_c3nxD5lVXoEzSRgXjkiKkxW6pbnh7hoJbv1rB99ZKnDhbpRE9y9i6CfPFuYRfLPDNR5AWVdHnl4_kU=w2400"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <!--purposely empty -->
              <p class="card-text">Our expansive global footprint alongside our top-notch professors and vibrant
                community provides extensive opportunities to build a global mindset</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <img
              src="https://lh3.googleusercontent.com/ioG5DqVM3C4Gr2_6s38G8Q5d_QtIoIil97-00JChMMoqdKwzbNwVdlfT7WAdbHekmRoaK5GyxrxXgqsLy2pfqmdk4bTc2Z8DeiPEFOiHPMzYiiqpAwp6mGThuJw7YwDQ9L_5hKn6bhY=w2400"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <!--purposely empty -->
              <p class="card-text">Our Collaborative culture inspires you to spark change by exploring and taking risks
                among colleagues who are supportive as they are ambitious</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Second card section interactive-->
  <div class="container-cards-three">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card shadow" style="width: 18rem;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/G-9L88Lz1fln6ZBjFk8X9aLBS7FOZuAWfjqKtbZpEVWmgHjn27xIhQd_pQeYcW_WsMoYVHJnv8qQnF4iPIKKu-JaAyUADHouU2qnF3_kTvsoLNg9vRrD4Xq9bYo-ujeeRB9lsyqUOXI=w2400" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Top News</h5>
            <p class="card-text">Speaker of Class 2021: Become more than you can ever imagine</p>
            <br/>
            <a href="#" class="btn btn-success">More News Stories</a>
          </div>
        </div>
      </div>
          <div class="col-md-3">
        <div class="card shadow" style="width: 18rem;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/NdKr9EFo5G5GTWjodU-LvJdQhgmc-msDYX_KqE6xJ-zX6RrOIW45GcM57SKcS1bNdxKnvvpnUyaOPzJdfybmLfXkYTC7Bn1DDbJfqd87lTFv_VsBb7uiqPQFzSXdMKKcdmJ1RmLFowY=w2400" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Student Blogs</h5>
            <p class="card-text">How to reframe your thinking to overcome impostor syndrome</p>
            <br/>
            <a href="#" class="btn btn-success">More Studen Blogs</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow" style="width: 18rem;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/8fOs6mbk9PKtVB_GRl4Zg6OKN29Ocys5IVn8hgjPpKlmbtA9QvgeeX56_UYehBhbVH-HJrUhwSJ3frBnNoQkkOxJv7RlYvUOduY3c99wDNG67p85M5O6Yh3oBkXcUxJ_2ENm198eP-0=w2400" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Research News</h5>
            <p class="card-text">Breaking the barriers to workplace diversity, equity  and inclusion</p>
            <br/>
            <a href="#" class="btn btn-success">More Research News</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow" style="width: 18rem;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/6yfrHCxe8Per3ishFMG7wcg9ZsC_o_tL8X5vhyyUsAkGlE1aeWlMv2L6XMQKKPL0AGCbkCrDDQ_zUPEkKoSWxMLlhvma6VFPLJYdti0KaZEbSbJZFa0Rh6wcxX6UraaxJiqneZ7pXWw=w2400" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Networking Events</h5>
            <p class="card-text">Virtual conference: Tips for confident leadership</p>
            <br/>
            <a href="#" class="btn btn-success">More Events</a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>