<div class="container-login100">

  <!-- <p> Aqui un div afuera y este p, allgo flotando centered</p> -->

  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"> <img src="https://lh3.googleusercontent.com/iU2BuKkXdfyKSkw69h0GajLhvNMRWTumNk5FeNPO_vt8N-QqxMgOzKjLvc4_H1C6IbqgnO67QDJa-4UodykUax3n_6nC0dnXmLmS-_UrFmTO3IzemYGJnXnDo2qS4JRQN-atfMdON3Q=w2400?source=screenshot.guru"></div>
      <div class="swiper-slide"> <img src="http://images.unsplash.com/20/cambridge.JPG?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"> 2</div>
      <div class="swiper-slide"> <img src="https://lh3.googleusercontent.com/Ms2KUpLzm18Yl8WecKVWVC286NFJleeJeGrcUhvhWO_GOTlwZ0vXtU09xN9BUvVa4Uz-uMkN8gjm5mk002hTSU8GZ5nPP85oD5Oh8TmXK4TQXxgC13Ti-DcmKQf8m5yVxgoqs7F8134=w2400?source=screenshot.guru"></div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>



  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>