<div class="container-differentiator">
  <h2 class="professor-dif">Professors Login</h2>
</div>

<div class='container-login100'>
  <div class='container'>

    <div class='row' style="color:white">
       <div class='col-md-6'>
         <i class="fas fa-chalkboard-teacher fa-10x"></i>
       </div>
      <div class='col-md-6'>
        <h2>Login</h2>
        <form class='login-form'>
          <div class='mb-3'>
            <label for='email-login' class='form-label'>Email address</label>
            <input type='email' class='form-control' id='email-login'/>
          </div>
          <div class='mb-3'>
            <label for='exampleInputPassword1' class='form-label'>Password</label>
            <input type='password' class='form-control' id='password-login' />
          </div>
          <button type='submit' class='btn btn-primary'>LOGIN</button>
        </form>
        <a class="nav-link" aria-current="page" href="/professorsignup" id="professorsignup">Register</a>
      </div>
    </div>

        <script src="/js/professorlogin.js"></script>

    </div>
</div>